<h1>My Todo's</h1>
<div class="alert alert-success" *ngIf="message">{{message}}</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Target Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos">
                <td>{{todo.description}}</td>
                <td>{{todo.targetDate | date}}</td> 
                <td>{{todo.status}}</td>
                <td><button (click)="deleteTodo(todo.id)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>